@model CrudAspnetCore.Models.Funcionario

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar Funcionário</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <h3>Dados Pessoais</h3>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Sobrenome" class="control-label"></label>
                    <input asp-for="Sobrenome" class="form-control" />
                    <span asp-validation-for="Sobrenome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <h3>Endereço</h3>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Endereco.Rua" class="control-label"></label>
                    <input asp-for="Endereco.Rua" class="form-control" />
                    <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Endereco.Numero" class="control-label"></label>
                    <input asp-for="Endereco.Numero" class="form-control" />
                    <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Endereco.Bairro" class="control-label"></label>
                    <input asp-for="Endereco.Bairro" class="form-control" />
                    <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Endereco.Cep" class="control-label"></label>
                    <input asp-for="Endereco.Cep" class="form-control" />
                    <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Endereco.Cidade" class="control-label"></label>
                    <input asp-for="Endereco.Cidade" class="form-control" />
                    <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Endereco.Estado" class="control-label"></label>
                    <input asp-for="Endereco.Estado" class="form-control" />
                    <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <h3>Empresa</h3>
            </div>
            <div class="row">
                <div class="form-group col-md-3">

                    @*<input asp-for="Empresa.RazaoSocial" class="form-control" />
                    <span asp-validation-for="Empresa.RazaoSocial" class="text-danger"></span>*@
                    @Html.DropDownListFor(model => model.EmpresaId, (SelectList)ViewBag.empresa, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <a asp-controller="Funcionarios" asp-action="Index" class="btn btn-danger" id="btn_voltarCreate">Voltar</a>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Salvar" class="btn btn-primary" id="btn_Create" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

